[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
diffusers = "*"
transformers = "*"
accelerate = "*"
pillow = "*"
gtts = "*"
imageio = {extras = ["ffmpeg"], version = "*"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.12"
